<!doctype html>
<html>
	<head>
	<title>DoneCal</title>
	<meta charset="utf-8">

        <!-- Mobile viewport optimized: http://bit.ly/9AKHaZ -->
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

        <!-- Web app will display in full screen mode when launched from the Web Clip icon -->
        <meta name="apple-mobile-web-app-capable" content="yes">

        <!-- High Res 114 x 114 iPhone, Android -->
        <link rel="apple-touch-icon-precomposed" media="screen and (min-resolution: 220dpi)" href="{{ static_url("images/smartphone/icon_114x114.png") }}">

        <!-- Low Res 57 x 57 iPhone, Android icon -->
        <link rel="apple-touch-icon-precomposed" media="screen and (max-resolution: 219dpi)" href="{{ static_url("images/smartphone/icon_57x57.png") }}">

        <!-- Nokia icon -->
        <link rel="shortcut icon" href="{{ static_url("images/smartphone/icon_57x57.png") }}">

        <!-- BlackBerry and some others use a meta tag for defining mobile-friendly documents -->
        <meta name="HandheldFriendly" content="True">

        <!-- Windows-proprietary meta tag -->
        <meta name="MobileOptimized" content="320"/>

        <!-- Mobile Internet Explorer allows us to activate ClearType technology for smoothing fonts for easy reading -->
        <meta http-equiv="cleartype" content="on">


	<!--<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css" />-->
        {{ modules.Static("css/ext/jquery.mobile/jquery.mobile-1.0a3.min.css") }}
        <style type="text/css">
        dt { font-weight: bold; margin: 2em 0 .5em; }
        span.dayname { font-weight:normal; padding-left:10px; }
        span.dayname_7 { color:red; }
        /*dt code, dd code { font-size:1.3em; line-height:150%; }*/
        </style>

	{{ modules.Static("ext/json2.js") }}
        {% if debug %}
        {{ modules.Static("ext/jquery-1.5.min.js") }}
        {% else %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js" type="text/javascript"></script>
        {% end %}

	{{ modules.Static("ext/jquery.store.js") }}

        {{ modules.Static("smartphone.js") }}
        {{ modules.Static("ext/jquery.mobile-1.0a3.js") }}

</head>
<body>
{% block pages %}
{% end %}

</body>
</html>
