{% extends "base.html" %}


{% block pages %}
<div data-role="page" id="start">

	<div data-role="header">
		<h1>DoneCal</h1>
	</div><!-- /header -->

	<div data-role="content">
		<!--<p><a href="#clock">Clock</a></p>-->
                <p><a href="#calendar">Calendar</a></p>
                <p><a href="#calendar-day" id="add2today">Add new event for today</a></p>
		<p><a href="#logout">Log out</a></p>
	</div><!-- /content -->

</div><!-- /page -->

<div data-role="page" id="login">

	<div data-role="header" data-nobackbtn="true">
		<h1>Not logged in</h1>
	</div><!-- /header -->


	<div data-role="content">
	<form action="auth/login/" method="post">
	<fieldset>
                <input type="hidden" name="next" value="{{ request.path }}">
		<div data-role="fieldcontain">
		<label for="email">Email:</label>
		<input type="email" name="email" id="email" value="">
		</div>

		<div data-role="fieldcontain">
		<label for="password">Password:</label>
		<input type="password" name="password" id="password" value="">
		</div>

		<button type="submit" data-theme="a">Log in</button>
	</fieldset>
        {{ xsrf_form_html() }}
        </form>
        <p>Or use your <a href="/auth/openid/google/?next=/smartphone/openid/&amp;nextnext={{ request.path }}" rel="external">Google account</a><br>
           Need to <a href="#registration">register an account</a>?
        </p>
	</div><!-- /content -->

</div><!-- /page -->

<div data-role="page" id="logout">

	<div data-role="header" data-nobackbtn="true">
		<h1>Logged out</h1>
	</div><!-- /header -->
	<div data-role="content">
        <p>Logged out</p>
        <p><a href="#login">Login again</a></p>
        </div><!-- /content -->
</div><!-- /page -->


<div data-role="page" id="registration">

	<div data-role="header">
		<h1>Registration</h1>
	</div><!-- /header -->


	<div data-role="content">
	<form action="/auth/xxx/" method="post">
	<fieldset>
		<div data-role="fieldcontain">
		<label for="email">Email:</label>
		<input type="email" name="email" value="">
		</div>

		<div data-role="fieldcontain">
		<label for="password">Choose a password:</label>
		<input type="password" name="password" value="">
		</div>

		<div data-role="fieldcontain">
		<label for="first_name">First name:</label>
		<input type="text" name="first_name" id="first_name" value="">
		</div>

		<div data-role="fieldcontain">
		<label for="last_name">Last name:</label>
		<input type="text" name="last_name" id="last_name" value="">
		</div>

		<button type="submit" data-theme="a">Register</button>
	</fieldset>
        </form>
        <p>Already have an account? <a href="#login">Then log in</a></p>
	</div><!-- /content -->

</div><!-- /page -->

<div data-role="page" id="calendar">
	<div data-role="header">
		<h1>Calendar</h1>
                <a href="/smartphone/" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">Home</a>
	</div><!-- /header -->

	<div data-role="content">
        <ul data-role="listview" data-inset="true" id="calendar-months">
        </ul>
	</div><!-- /content -->
</div>

<div data-role="page" id="calendar-month">
	<div data-role="header">
		<h1>Loading...</h1>
                <a href="/smartphone/" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">Home</a>
	</div><!-- /header -->
        <div data-role="content">
        <ul data-role="listview" data-inset="true" id="calendar-month-days">
        </ul>
        </div><!-- /content -->
</div>

<div data-role="page" id="calendar-day">
	<div data-role="header">
		<h1>Loading</h1>
                <a href="/smartphone/" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">Home</a>
	</div><!-- /header -->
        <div data-role="content">
		<div data-role="collapsible" data-collapsed="true" id="calendar-day-add-collapse">
			<h3>Add new event</h3>
			<form action="#" method="get">
				<div data-role="fieldcontain">
					<label for="title">Title (e.g <em>&quot;#project1 Worked hard&quot;</em>):</label>
					<input type="text" name="title" value="">

				</div>
				<div data-role="fieldcontain">
				    <fieldset data-role="controlgroup">
				    	<!--<legend>Duration:</legend>-->
						<input type="radio" name="duration" id="duration-all_day" value="all_day" checked>
						<label for="duration-all_day">All day</label>

						<input type="radio" name="duration" id="duration-15min" value="0.25">
						<label for="duration-15min">15 minutes</label>

						<input type="radio" name="duration" id="duration-30min" value="0.5">
						<label for="duration-30min">30 minutes</label>

						<input type="radio" name="duration" id="duration-1h" value="1">
						<label for="duration-1h">1 hour</label>

						<input type="radio" name="duration" id="duration-other" value="other">
						<label for="duration-other">Other</label>
				    </fieldset>
				</div>


				<div data-role="fieldcontain" id="field-duration-other" style="display:none">
					<label for="title">Hours:</label>
					<input type="text" name="duration_other" value="">

				</div>


				<!--<div data-role="fieldcontain">
					<label for="textarea">Description:</label>
					<textarea cols="40" rows="8" name="textarea" id="textarea"></textarea>

				</div>-->
				<fieldset class="ui-grid-a">
						<div class="ui-block-a"><button type="submit" data-theme="c" class="cancel">Cancel</button></div>
						<div class="ui-block-b"><button type="submit" data-theme="b">Save</button></div>
			    </fieldset>

			</form>
		</div><!-- /section 3 -->

	<p>&nbsp;</p>
        <ul data-role="listview" data-inset="false" id="calendar-day-events">
        </ul>

        <dl id="calendar-days-totals" title="Totals">
        </dl>
        </div><!-- /content -->
</div>



<div data-role="page" id="calendar-event">
	<div data-role="header">
		<h1>Loading</h1>
                <a href="/smartphone/" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">Home</a>
	</div><!-- /header -->
        <div data-role="content">
			<h3></h3>
			<form action="#" method="get">
				<div data-role="fieldcontain">
					<label for="title">Title:</label>
					<input type="text" name="title" value="">

				</div>

				<div data-role="fieldcontain" id="field-duration-hours" style="display:none">
					<label for="title">Hours:</label>
					<input type="number" name="duration_hours" class="duration" value="">

				</div>

				<div data-role="fieldcontain" id="field-duration-days" style="display:none">
					<label for="title">Days:</label>
					<input type="number" name="duration_days" class="duration" value="">

				</div>


				<div data-role="fieldcontain">
					<label for="textarea">Description:</label>
					<textarea cols="40" rows="8" name="description"></textarea>

				</div>
				<div data-role="fieldcontain">
					<label for="id_external_url">URL:</label>
					<input type="url" name="external_url" id="id_external_url" value="">

				</div>

				<fieldset class="ui-grid-a">
						<div class="ui-block-a"><button type="submit" data-theme="c" class="cancel">Cancel</button></div>
						<div class="ui-block-b"><button type="submit" data-theme="b">Save</button></div>
			    </fieldset>

			</form>
		</div><!-- /section 3 -->
        </div><!-- /content -->
</div>



{% end %}
