<form class="edit" action="/event/edit" method="post">
  <div>
    <input type="hidden" name="id" value="{{ event._id }}">
    <input name="title" autocomplete="off" size="35" value="{{ event.title }}"> 
    <input type="submit" value="Save">
    <input type="button" class="cancel" value="Cancel">
    
  </div>
  
  
  {% if url %}
  <div class="see-url">
    <a href="{{ url }}" onclick="window.open('{{ url }}');return false">{{ url }}</a>
  </div>
  {% end %}
  
  <div id="more-editing">
  
    <div class="edit-url" {% if url %}style="display:none"{% end %}>
      {% if url %}
        <input name="external_url" size="35" value="{{ url }}">
      {% else %}
        <input name="external_url" size="35" value="">
      {% end %}
      <input type="hidden" name="placeholdervalue" value="URL: (optional)">
    </div>
  
    <div class="edit-description">
      <textarea name="description" cols="40" rows="6">{{ description }}</textarea>
    </div>
  
  </div>
  
  
  <div class="delete">
    <p>
    <a href="#" class="delete">Delete?</a>
      <span class="confirmation" style="display:none">Are you sure?
        <a href="#" class="delete-confirm">Yes</a>
        <a href="#" class="delete-cancel">No</a>
      </span>
    </p>
  </div>
  
{{ xsrf_form_html() }}
</form>