<form action="https://checkout.google.com/api/checkout/v2/checkoutForm/Merchant/516752459948397" method="post" name="BB_BuyButtonForm" target="_top">
    <input name="item_name_1" type="hidden" value="{{ code }}"/>
    <input name="item_description_1" type="hidden" value="{{ description }}"/>
    <input name="item_quantity_1" type="hidden" value="1"/>
    <input name="item_price_1" type="hidden" value="{{ price }}"/>
    <input name="item_currency_1" type="hidden" value="{{ currency }}"/>
    <input name="_charset_" type="hidden" value="utf-8"/>
    <input alt="" src="https://checkout.google.com/buttons/buy.gif?merchant_id=516752459948397&amp;w=117&amp;h=48&amp;style=white&amp;variant=text&amp;loc=en_US" type="image"/>
</form>