coverage_report/
*~
*.pyc
.venv
run_mongodb.sh
start_mongod.sh
db/
live-db/
mongodb
tags
*.py.done
build/
pip-log.txt
run_mongo_data_browser.sh
mongo_data_browser/
.base64-image-conversions.pickle
marketing/emails.csv
_run_all_static_modules2.py 
_run_all_static_modules.py
_run_all_static_modules2.py
.static_name_conversion
mail.txt
