{% import tornado.escape %}
<p>
{{ tornado.escape.linkify(event.title, extra_params='target="_blank"') }}
</p>

{% if event.external_url %}
<p class="event-external_url">
<a href="{{ event.external_url }}">{{ event.external_url }}</a>
</p>
{% end %}

{% if event.description %}
<p class="event-description">
  {{ event.description }}
</p>
{% end %}

<form style="float:right"><input type="button" class="cancel" value="Close"></form>

<p class="event-metadata">
Added {{ add_ago }} ago
{% if user_name %}
by {{ user_name }}
{% end %}
</p>
