<p>
&copy;
{% if calendar_link %}
<a href="/">Home/Calendar</a>
{% end %}
<a href="/help/About">About</a>
<a href="/help/">Help</a>
<a href="/help/API">Developers' API</a>
{% if user %}<a href="/help/Bookmarklet" title="Get the Bookmarklet in your browser">Bookmarklet</a>{% end %}
{% if user %}<a href="/features/" title="Help out voting up your most desired feature requests">Feature requests</a>{% end %}
{% if user %}<a href="/emailreminders/" title="Enter events by replying to regular emails">Email reminders</a>{% end %}
</p>
