<script>
var SETTINGS = {% raw settings_json %};
var JS_URLS = {
  base: '{% module StaticURL("base.js") %}',
  calendar:  '{% module StaticURL("calendar.js") %}',
  fullcalendar:  '{% module StaticURL("ext/fullcalendar.min.js") %}',
  sidebar: '{% module StaticURL("sidebar.js") %}',
  account: '{% module StaticURL("account.js") %}',
  fancybox: '{% module StaticURL("ext/jquery.fancybox-1.3.4.pack.js") %}',
  cookie: '{% module StaticURL("ext/jquery.cookie.min.js") %}',
  jquery_form: '{% module StaticURL("ext/jquery.form.js") %}',
  jquery: '{% if debug %}{% module StaticURL("ext/jquery-1.5.2.min.js") %}{% else %}//ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js{% end %}',
  jqplot: '{% module StaticURL("ext/jquery.jqplot.min.js") %}',
  jqplot_pierenderer: '{% module StaticURL("ext/jqplot.pieRenderer.min.js") %}',
  validate: '{% module StaticURL("ext/jquery.validate.min.js") %}',
  qtip: '{% module StaticURL("ext/jquery.qtip.min.js") %}',
  share: '{% module StaticURL("share.js") %}',
  jquery_ui_droppable: '{% module StaticURL("ext/jquery.ui.droppable.min.js") %}',
  {% if 0 %}jquery_ui_draggable_resizable: '{% module StaticURL("ext/jquery-ui-1.8.4.draggable-resizable.min.js") %}',{% end %}
  jquery_ui_fullcalendar: '{% module StaticURL("ext/jquery-ui-1.8.9.fullcalendar.min.js") %}',
  jquery_autocomplete: '{% module StaticURL("ext/jquery.autocomplete.pack.js") %}',
  play_sounds: '{% module StaticURL("play-sounds.js") %}'
};

var SOUND_URLS = {
  'delete': '{% module StaticURL('sounds/delete.ogg') %}',
  'add': '{% module StaticURL('sounds/add.ogg') %}'
};

</script>
