#wrap {
        padding:10px;  
	-moz-box-shadow:4px 4px 4px rgba(0, 0, 0, 0.3);
}
h1 {
	font-size: 19px;
	line-height: 1.158em;
    
}
.title_input {
    margin:30px;
}
input[name="title"] { 
    font-size:15px;
    width:80%;
}    

body {
  background-color:transparent;
}

.error { color:red; font-weight:bold; }