<!DOCTYPE html>
<html>
    <head>
        <!-- revision: {{ git_revision }} -->
        <title>{% block title %}DoneCal - A timesheet/time tracker for remembering what you've done{% end %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="Shortcut Icon" href="{{ modules.StaticURL("images/favicon.ico") }}" type="image/x-icon">
        {{ modules.Static("css/style.css", "css/ext/jquery.fancybox-1.3.2.css") }}
	<style type="text/css">
        #home { background-image:url('{{ modules.Static64("images/calendar_home.png") }}'); }
        #login {
          {% if user %}
            {% if user.premium %}
              background-image:url('{{ modules.Static64("images/premium.png") }}');
            {% else %}
              background-image:url('{{ modules.Static64("images/locked.gif") }}');
            {% end %}
          {% else %}
	  background-image:url('{{ modules.Static64("images/key.gif") }}');
          {% end %}
        }
	</style>
        {% block extra_head_outer %}
        {% block extra_head %}{% end %}
        {% end %}
    
{% block google_analytics %}
{% if not debug %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-94373-11']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% end %}
{% end %}

    </head>
    <body class="content-sidebar">
    
    {% block home_nav %}
    <div id="home" class="topnav">
      <p><a href="/">Home/Calendar</a></p>
    </div>
    {% end %}
    
    <div id="login" class="topnav">
      {% if user %}
      <p><a href="/user/account/" {% if user.premium %}title="You're a premium user!"{% end %} class="account">Hi {{ user_name }}</a>
      <a href="/auth/logout/" class="log-out">log out</a></p>
      {% else %}
      <p><a href="/user/account/" class="account">Login &amp; registration</a></p>
      {% end %}
    </div>
    
    <div id="wrap">
    
      <!--
      <div id="header">
        <div class="wrap">
	  <h1 id="title">DoneCal</h1>
	</div>
      </div>
      -->
      
      <div id="inner">
        <div id="content-sidebar-wrap">
	  <div id="content">
            {% block content %}
            <div id="content_inner">
            {% block content_inner %}
            {% end %}
            </div>
            {% end %}
	  </div>
	  <div id="sidebar" class="widget-area">
            {% block sidebar %}{% end %}
	  </div>
	</div>
      </div>
      
      
      <div id="footer">
        <div class="wrap">
	  <div class="creds">
            <p class="footer-stats">
              Current total of events across all accounts: <span id="total_no_events">{{ total_no_events }}</span>
            </p>
	    {{ modules.Footer(user=user) }}
	  </div>
	</div>
      </div>
      
      
    </div>


{{ modules.Settings(settings) }}

<!-- basics needed to render the calendar -->
{% block corejs %}
{% if debug %}
{{ modules.Static("ext/jquery-1.4.4.min.js") }}
{% else %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
{% end %}
{{ modules.Static("ext/jquery.fancybox-1.3.2.pack.js", "base.js") }}
{% end %}

<script type="text/javascript">
var total_no_events = {{ total_no_events }};
</script>

{% block extrajs %}{% end %}

    </body>
</html>
