{% extends "base.html" %}
{% block extra_head %}
{{ modules.Static("css/ext/fullcalendar.css", "css/ext/jquery.jqplot.min.css", "css/ext/jquery.autocomplete.css", "css/ext/jquery.qtip.css", "css/calendar.css") }}
{% end %}

{% block home_nav %}{% end %}

{% block content %}
            <div id="calendar"></div>
{% end %}	    
	  
{% block sidebar %}
	    <div class="widget widget_text">
              
              <div class="" id="settings-box">
	        <p>
                  <a class="user-settings" href="/user/settings/">Change your settings</a>
                  <br>
                  <a class="share" href="/share/">Share your calendar</a>
                </p>
              </div>
              
              <div id="current-sharers" style="display:none">
                <p><strong>Sharers</strong></p>
                <ul>
                </ul>
              </div>
	      
              <div class="plot" id="days-plot">
              </div>
              <div class="plot" id="hours-plot">
              </div>
              
              <div id="report-link" {% if not user %}style="display:none"{% end %}>
                <p style="text-align:center"><a href="/report/" rel="nofollow">Get the full report</a>
              </div>
              {% if not user %}
	      <p id="introduction-video"><strong>What on earth <em>is</em> this?</strong><br>
	      <a href="/help/show_vimeo_video" class="vimeovideo"><img src="{{ modules.StaticURL("images/vimeovideo.png") }}" alt="Introduction to DoneCal.com on Vimeo"></a><br>
	      <a href="/help/show_vimeo_video" class="vimeovideo">Watch an introduction video</a>
	      </p>
	      <p id="introduction-video-after" style="display:none">
	        <a href="/help/show_vimeo_video" class="vimeovideo">Watch video again</a><br>
	        <strong>Note:</strong>
		Since this video was made, it is now possible to tag with the <code>#</code> hash sign 
		as well as the <code>@</code> sig. 
	      </p>
              {% end %}
	      
	      
	      
	    </div>
	    
<div id="add-form-container" style="display:none">
<form method="post" class="add-form">
  <div>
    <input name="title" autocomplete="off" size="35">
    <input type="hidden" name="all_day">
    <input type="hidden" name="date">
    <input type="submit" value="Save">
    <input type="button" class="cancel" value="Cancel">
  </div>
  {{ xsrf_form_html() }}
</form>
</div>

<div id="edit-form-container" style="display:none">
<form method="post" class="edit-form" action="/event/edit/">
  <div>
    <input type="hidden" name="id">
    <input name="title" autocomplete="off" size="35">
    <input type="hidden" name="all_day">
    <input type="hidden" name="date">
    <input type="submit" value="Save">
    <input type="button" class="cancel" value="Cancel">
  </div>
  <div class="see-url" style="display:none">
  </div>
  
  <div class="more-editing" style="display:none">
    <div class="edit-url">
      <input name="external_url" size="35">
      <input type="hidden" name="placeholdervalue_external_url" value="URL: (optional)">
    </div>
    <div class="edit-description">
      <textarea name="description" cols="40" rows="6"></textarea>
      <input type="hidden" name="placeholdervalue_description" value="Description: (optional)">
    </div>
  </div>
  <p><a href="#" class="more-editing">More options?</a></p>
  <div class="delete">
    <p>
      <a href="#" class="delete">Delete?</a>    
      <span class="confirmation" style="display:none">Are you sure?
        <a href="#" class="delete-confirm">Yes</a>
        <a href="#" class="delete-cancel">No</a>
      </span>
    </p>
  </div>
  
  {{ xsrf_form_html() }}
</form>
</div>

<div id="undo-delete" style="display:none">
</div>
{% end %}	    



{{ modules.Settings(settings) }}

{% block extrajs %}
{% if settings.get('offline_mode') %}
{{ modules.Static("ext/jquery.store.js", "ext/json2.js", "ajaxproxy.js") }}
{% else %}<script type="text/javascript">var is_offline=false</script>
{% end %}

{{ modules.Static("ext/fullcalendar.js", "ext/jquery.cookie.js", "calendar.js") }}
{{ modules.Static("sidebar.js", "ext/jquery-ui-1.8.4.draggable-resizable.min.js", "ext/jquery.autocomplete.pack.js") }}
<script type="text/javascript" src="{{ modules.StaticURL("ext/soundmanager2-nodebug-jsmin.js") }}"></script>
<script type="text/javascript">
soundManager.onready(function(status) {
  if (status.success) {
    soundManager.createSound('pling', '{{ modules.StaticURL("sounds/glass.mp3") }}');
  } else {
    SETTINGS.disable_sound = true;
  }
});
</script>
{% end %}
