{% extends "../base.html" %}

{% block title %}Feature requests - DoneCal{% end %}

{% block extra_head %}
{% module Static("css/ext/jquery.qtip.css", "css/featurerequests.css") %}
{% end %}

{% block sidebar %}
<h3>Help!</h3>
<p>Read more about what this is in the<br>
<a href="/help/Feature-requests">Help - Feature requests</a> page.</p>
{% end %}

{% block content_inner %}

<h1>Feature requests</h1>

<div id="requests" class="centered">
{% for feature_request in feature_requests %}
<div class="request" id="feature--{{ feature_request._id }}">
  {% module ShowFeatureRequest(feature_request) %}
</div>
{% end %}
</div>

{% if can_add %}
<form action="." method="post" class="centered">
  <!--<h3>Add your own new feature request</h3>-->
  <div>
  <input name="title" value="" class="title" title="Add your own new feature request" maxlength="250">
  <br>
  <!--<label>Longer description (optional):</label>-->
  <textarea name="description" rows="4" cols="60" title="Longer description (optional)"></textarea>
  <br>

  <input type="submit" value="Submit">
  </div>

  {% module xsrf_form_html() %}
</form>
{% else %}
  <div class="centered">
  <p><em>You can add your own feature requests too!<br>...but first you have to create an account</em></p>
  </div>
{% end %}


<div id="voteup-form-container" style="display:none">
<form action="vote/up/" class="voteup" method="post">
  <div>
  <input type="hidden" name="id" value="">
  <label for="comment">Optional comment:
  <input id="comment" name="comment" value="" size="30"></label>
  <input type="submit" value="Vote up">
  <input type="button" class="cancel" value="Cancel">

  </div>
  {% module xsrf_form_html() %}
</form>
</div>

{% end %}

{% block extrajs %}
<script type="text/javascript">
var HAVE_VOTED = {{ json_encode(have_voted_features) }};
</script>
{% module Static("ext/jquery.validate.min.js", "ext/jquery.qtip.min.js", "featurerequests.js") %}
{% if have_voted_features %}
{% end %}
{% end %}
