{% extends "power_user_base.html" %}

{% block content_inner %}

<h1>Power User: {{ user.first_name }} {{ user.last_name }}</h1>


<div id="interview">
<p class="question"><strong class="label">DoneCal:</strong> Hi Peter, what do you use DoneCal for?</p>

<p class="answer"><strong class="label">Peter:</strong>
Tracking how much time I spend on various projects at work. I tag both personal projects and work 
projects as I'm quite interested in how much time I spend on each in a given week.
</p>
<p class="answer">I'm still a big fan of Google Calendar but I only use that these days for future
events such as upcoming meetings or sharing with my colleagues when I'm away on holiday and such. 
</p>


<p class="question"><strong class="label">DoneCal:</strong> How do you enter your events into DoneCal?</p>

<p class="answer"><strong class="label">Peter:</strong>
At first I would open the DoneCal website and click to type it in but found it easy to forget to do it. 
Then I started using the Bookmarklet. Especially if I had just closed an issue on our work issue tracker.<br>
Recently I've started to just use the email reminders. I've got them set up to email me every work day evening
at 6pm and now I just reply with hours and the tags on which I've been working.
</p>

<p class="question"><strong class="label">DoneCal:</strong> What in particular do you like about DoneCal?</p>

<p class="answer"><strong class="label">Peter:</strong>
That there are numerous and flexible ways to enter things and just that. No rules or restrictions.
Within the space of a few months
I've already changed my ways of entering events many times. For example, I used to write quite a lot; now I just
write the tag with a hash sign. 
Oh and I like the graphical reporting so I can glance roughly where I put my time in any chosen time interval.
</p>

</div>

{% end %}
