{% extends "../base.html" %}

{% block title %}Power Users{% end %}

{% block extra_head %}
<style type="text/css">
</style>
{% end %}

{% block sidebar %}
{% end %}

{% block content_inner %}

<h1>Power Users</h1>

{% if user %}
<p>Think you're a power user? If so please contact
<a href="mailto:mail@peterbe.com" id="my-email-address">mail@peterbe.com</a>
</p>
{% else %}
  <!-- later move this outside the if statement -->

  <p>Check out these power users:</p>
  {% for entry in power_users %}
    <p><a style="font-weight:bold" href="{{ entry['url'] }}">{{ entry['name'] }}</a></p>
  {% end %}
{% end %}

{% end %}
