{% extends "../base.html" %}

{% block title %}Power Users{% end %}

{% block extra_head %}
<style type="text/css">
#logs thead td {
  font-weight:bold;
}
#logs thead {
  background-color:#ccc;
}
#logs td {
  vertical-align:top;
  padding:1px 4px;
}
table.stats td { font-size:80%; }
</style>
{% end %}

{% block sidebar %}
  <!--<h3>Power users</h3>-->

{% end %}

{% block content_inner %}

<h1>Top 10 Power Users</h1>


<table id="logs">
  <thead>
    <tr>
      <td>&nbsp;</td>
      <td>Events</td>
      <td>Name</td>
      <td>Email</td>
      <td>Member since</td>
      <td colspan="2">Usage</td>
    </tr>
  </thead>
  {% for entry in power_users %}
  <tr>
      <td style="font-weight:bold">{{ entry['index'] }}</td>
      <td>{{ entry['count'] }}</td>
      <td>{{ entry['user'].first_name }} {{ entry['user'].last_name }}</td>
      <td>{{ entry['user'].email }}</td>
      <td>{{ entry['member_since'] }} <!--({{ entry['age'] }})--></td>
      <td>
        <table class="stats">
          <tr>
            <td>Median:</td>
            <td>{{ '%.1f' % entry['stats']['median'] }}</td>
          </tr>
          <tr>
            <td>Average:</td>
            <td>{{ '%.1f' % entry['stats']['average'] }}</td>
          </tr>
        </table>
      </td>
      <td>
        <span class="inlinesparkline">{{ ','.join([str(x) for x in entry['stats']['counts']]) }}</span>
      </td>
  </tr>
{% end %}
</table>


<form action=".">
<p>In the last <input name="days_since" size="3" value="{{ days_since }}"> days <input type="submit" value="Reload"></p>
</form>

{% end %}


{% block extrajs %}
<script>
head.js('{% module StaticURL("ext/jquery.sparkline.min.js") %}', function () {
  $('.inlinesparkline').sparkline();
});
</script>
{% end %}
