<style type="text/css">
label { text-align:left; width:230px; }
</style>

<h2>User settings</h2>
<form action="/user/settings/" method="post" class="user-settings">

      <label for="id_monday_first">Monday first day of the week?</label>
      <input type="checkbox" id="id_monday_first" name="monday_first" {% if monday_first %}checked{% end %}>
      <br>
      <label for="id_hide_weekend">Hide weekend?</label>
      <input type="checkbox" id="id_hide_weekend" name="hide_weekend" {% if hide_weekend %}checked{% end %}>
      <br>
      <label for="id_disable_sound">Disable sound?</label>
      <input type="checkbox" id="id_disable_sound" name="disable_sound" {% if disable_sound %}checked{% end %}>
      <br>
      <label for="id_ampm_format">AM/PM format?</label>
      <input type="checkbox" id="id_ampm_format" name="ampm_format" {% if ampm_format %}checked{% end %}>
      <br>
      {% if user %}
      <label for="id_first_hour">Work day start hour?</label>
      <select name="first_hour">
        {% for i in range(24) %}
	  <option value="{{ i }}" {% if first_hour == i %}selected{% end %}>{{ i }}</option>
	{% end %}
      </select>
      <br>
      {% end %}
    <!--
      <label for="id_offline_mode">Offline mode?</label>
      <input type="checkbox" id="id_offline_mode" name="offline_mode" {% if offline_mode %}checked{% end %}>
    -->


    <label>&nbsp;</label>
    <input type="submit" value="Save">

{{ xsrf_form_html() }}
</form>
