<script type="text/javascript">
var SETTINGS = {{ settings_json }};
var JS_URLS = {
  account: '{{ static_url("account.js") }}',
  jquery_form: '{{ static_url("ext/jquery.form.js") }}',
  jqplot: '{{ static_url("ext/jquery.jqplot.min.js") }}',
  jqplot_pierenderer: '{{ static_url("ext/jqplot.pieRenderer.min.js") }}',
  //fancybox: '{{ static_url("ext/jquery.fancybox-1.3.1.pack.js") }}',
  validate: '{{ static_url("ext/jquery.validate.min.js") }}',
  qtip: '{{ static_url("ext/jquery.qtip-1.0.0-rc3.js") }}',
  soundmanager2: '{{ static_url("ext/soundmanager2-jsmin.js") }}'
};
var SOUND_URLS = {
  pling: '{{ static_url("sounds/Glass_G.mp3") }}'
};
</script>
