<!DOCTYPE html>
<html>
    <head>
    <title>DoneCal bookmarklet</title>
    {{ modules.Static("css/style.css", "css/bookmarklet.css") }}
    </head>
    <body>
<div id="wrap">
<h1>Quickly save something on DoneCal</h1>
<form action="." method="post">
<div class="title_input">
{% if error_title %}
<span class="error">Error: {{ error_title }}</span><br/>
{% end %}
<input name="title" id="id_title" size="35" value="{{ title }}">
</div>

{% if external_url %}
<p>
  <input type="checkbox" id="id_use_current_url" name="use_current_url" value="1" checked>
  <label for="id_use_current_url">Remember that it was here on
  <em>{{ modules.TruncateString(external_url, 35) }}</em>
  </label>
  <input type="hidden" name="external_url" value="{{ external_url }}">
</p>  
{% end %}
<div>
  <input type="submit" value="Save on DoneCal">
</div>
{{ xsrf_form_html() }}
</form>

</div>
<script type="text/javascript">
window.onload = function() {
  document.getElementById('id_title').focus();
};
</script>
</body>
</html>