{% extends "base.html" %}
{% block extra_head %}
       {{ modules.Static("css/fullcalendar.css", "css/jquery.jqplot.min.css", "css/jquery.autocomplete.css") }}
        <!--<link rel="stylesheet" type="text/css" href="{{ static_url("css/fullcalendar.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ static_url("css/jquery.jqplot.min.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ static_url("css/jquery.autocomplete.css") }}">-->
	<style type="text/css">
	h2.fc-header-title {
	  font-size: 130%;
	  font-weight: bold;
	}
	#calendar { 
	margin: 10px;
	}
        input.placeholdervalue { color:#ccc; }
        #settings-box {
          margin-top:50px;
        }
	a.share-hider {
	  font-size:10px; 
	  float:right;
	}
	</style>
{% end %}

{% block content %}
            <div id="calendar"></div>
{% end %}	    
	  
{% block sidebar %}
	    <div class="widget widget_text">
              
              <div class="" id="settings-box">
	        <p>
                  <a class="user-settings" href="/user/settings/">Change your settings</a>
                  <br>
                  <a class="share" href="/share/">Share your calendar</a>
                </p>
              </div>
              
              <div id="current-sharers" style="display:none">
                <p><strong>Sharers</strong></p>
                <ul>
                </ul>
              </div>

              <div class="plot" id="days-plot">
              </div>
              <div class="plot" id="hours-plot">
              </div>

	      
	    </div>
<form id="add-form" method="post" style="display:none">
  <div>
    <input name="title" autocomplete="off" size="35">
    <input type="hidden" name="all_day">
    <input type="hidden" name="date">
    <input type="submit" value="Save">
  </div>
  {{ xsrf_form_html() }}
 
</form>

{% end %}	    



{{ modules.Settings(settings) }}

{% block extrajs %}
{{ modules.Static("ext/fullcalendar.js", "calendar.js") }}
{{ modules.Static("sidebar.js", "ext/jquery-ui-1.8.4.draggable-resizable.min.js", "ext/jquery.autocomplete.pack.js") }}
<script type="text/javascript" src="{{ static_url("ext/soundmanager2-nodebug-jsmin.js") }}"></script>
<script type="text/javascript">
soundManager.onready(function(status) {
  if (status.success) {
    soundManager.createSound('pling', '{{ static_url("sounds/glass.mp3") }}');
  } else {
    SETTINGS.disable_sound = true;
  }
});
</script>
{% end %}
