<!DOCTYPE html>
<html>
    <head>
        <title>Worklog</title>
        <link rel="stylesheet" type="text/css" href="{{ static_url("screen.css") }}" />
        <link rel="stylesheet" type="text/css" href="{{ static_url("fullcalendar.css") }}" />
        <link rel="stylesheet" type="text/css" href="{{ static_url("facebox.css") }}" />
        <link rel="stylesheet" type="text/css" href="{{ static_url("jquery-ui-1.8.5.draggable-resizable-autocomplete.css") }}" />
	<style>
	#calendar { width: 60%;
	margin: 10px auto;
	}
	</style>
    </head>
    <body>
<div id="calendar"></div>
<script type="text/javascript" src="{{ static_url("jquery-1.4.2.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("fullcalendar.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("calendar.js") }}"></script>
<script type="text/javascript" src="{{ static_url("jquery-ui-1.8.5.draggable-resizable-autocomplete.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("jquery.qtip-1.0.0-rc3.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("jquery.form.js") }}"></script>

    </body>
</html>
