{% extends "base.html" %}
{% block extra_head %}
        <link rel="stylesheet" type="text/css" href="{{ static_url("css/fullcalendar.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ static_url("css/jquery.jqplot.min.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ static_url("jquery-ui-1.8.5.draggable-resizable-autocomplete.css") }}">
	<style type="text/css">
	h2.fc-header-title {
	  font-size: 130%;
	  font-weight: bold;
	}
	#calendar { 
	margin: 10px;
	}
        input.placeholdervalue { color:#ccc; }
        #settings-box {
          margin-top:50px;
        }
	a.share-hider {
	  font-size:10px; 
	  float:right;
	}
	</style>
{% end %}

{% block content %}
            <div id="calendar"></div>
{% end %}	    
	  
{% block sidebar %}
	    <div class="widget widget_text">
              
              <div class="" id="settings-box">
	        <p>
                  <a class="user-settings" href="/user/settings/">Change your settings</a>
                  <br>
                  <a class="share" href="/share/">Share your calendar</a>
                </p>
              </div>
              
              <div id="current-sharers" style="display:none">
                <p><strong>Sharers</strong></p>
                <ul>
                </ul>
              </div>

              <div class="plot" id="days-plot">
              </div>
              <div class="plot" id="hours-plot">
              </div>

	      
	    </div>
<form id="add-form" method="post" style="display:none">
  <div>
    <input name="title" autocomplete="off" size="35">
    <input type="hidden" name="all_day">
    <input type="hidden" name="date">
    <input type="submit" value="Save">
  </div>
  {{ xsrf_form_html() }}
 
</form>

{% end %}	    



{{ modules.Settings(settings) }}


{% block extrajs %}
<script type="text/javascript" src="{{ static_url("fullcalendar.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("calendar.js") }}"></script>

<!--<script type="text/javascript" src="{{ static_url("jquery.jqplot.min.js") }}"></script>-->
<!--<script type="text/javascript" src="{{ static_url("jqplot.pieRenderer.min.js") }}"></script>-->
<!--<script type="text/javascript" src="{{ static_url("jquery.fancybox-1.3.1.pack.js") }}"></script>-->
<script type="text/javascript" src="{{ static_url("sidebar.js") }}"></script>

<script type="text/javascript" src="{{ static_url("jquery-ui-1.8.5.draggable-resizable-autocomplete.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("jquery.qtip-1.0.0-rc3.min.js") }}"></script>
<!--<script type="text/javascript" src="{{ static_url("jquery.form.js") }}"></script>-->
{% end %}
