{% extends "../base.html" %}

{% block title %}Activity log{% end %}

{% block extra_head %}
{% module Static("css/ext/jquery.jqplot.min.css", "css/logs.css") %}
{% end %}


{% block sidebar %}

{% end %}

{% block content_inner %}

<h1>Activity log</h1>

              <div class="plot" id="users-plot">
              </div>
              <div class="plot" id="events-plot">
              </div>
{% end %}


{% block extrajs %}
<script>
var jqplot_dateaxisrenderer = '{% module StaticURL("ext/jqplot.dateAxisRenderer.min.js") %}';
head.js(JS_URLS.jqplot, jqplot_dateaxisrenderer);
</script>
{% module Static("activitylog.js") %}
{% end %}
