{% extends "../base.html" %}

{% block extra_head %}
{{ modules.Static("css/ext/jquery.jqplot.min.css", "css/smoothness/jquery-ui-1.8.6.slider.datepicker.css", "css/stats.css") }}
{% end %}

{% block title %}Statistics on DoneCal{% end %}

{% block content_inner %}

<h1>Stats</h1>

<form action=".">

<div id="slider" style="width:500px"></div>
<p style="margin-top:10px">
<strong>From:</strong>
<input type="text" id="from_date" name="from_date" value="">
<strong>To:</strong>
<input type="text" id="to_date" name="to_date" value="">
</p>
<p>
<label for="cumulative">Cumulative
<input type="radio" id="cumulative" name="cumulative" value="true" checked></label>
or 
<label for="not_cumulative">New
<input type="radio" id="not_cumulative" name="cumulative" value=""></label>
</p>
</form>

<div id="plot-events">
</div>

<div id="plot-users">
</div>

<div id="plot-usersettings">
</div>

{% end %}

{% block sidebar %}

<h3>Raw numbers</h3>

<table id="numbers">
</table>


{% end %}


{% block extrajs %}
<script type="text/javascript">
var minDate = new Date({{ first_date.year }}, {{ first_date.month }}-1, {{ first_date.day }});
var maxDate = new Date({{ last_date.year }}, {{ last_date.month }}-1, {{ last_date.day }});
$(function() {
  var href = $('a.excel-export').unbind('click').click(function() {
    var start = startDate.datepicker('getDate');
    var end = endDate.datepicker('getDate');
    window.open($(this).attr('href')+'?start=' + start.getTime() + '&end=' + end.getTime());
    return false;
  });
});
</script>
{{ modules.Static("ext/jquery-ui-1.8.6.slider.datepicker.min.js", "ext/jquery.jqplot.js", "ext/jqplot.categoryAxisRenderer.min.js", "ext/jqplot.dateAxisRenderer.min.js", "ext/jqplot.pointLabels.min.js", "ext/jqplot.barRenderer.min.js", "ext/jqplot.highlighter.min.js","stats.js") }}
{% end %}
